/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0095ff;
  --foreground: #00458e;
  --HpBlue: #02274f;
  --HpYellow: #f4ae1c;
  --HpWhite: #F9F7F7;
  --HpLightBlue: #85B9E0;
  --HpGreen: #A0DD37;



  --LightGreen: #84d570;
  --ConfirmationGreen: #1e9600;
  --WarningYellow: #FFA500;
  --ConfirmationRed: #FF0000;

}

body {
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.connectionStatus {
    position: absolute;
    bottom: -100px; /* Or a value that moves it completely off-screen */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 1.5rem;
    z-index: 1000;
}

.connectionStatus.disconnected {
    background-color: var(--WarningYellow);
    color: rgb(0, 0, 0);
    animation: fly-in-bottom 2s forwards; /* Apply the animation */
}

.connectionStatus.connected {
    background-color: var(--ConfirmationGreen);
    color: var(--HpWhite);
    animation: fly-out-bottom 2s forwards; /* Apply the animation */
}

@keyframes fly-out-bottom {
  0% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: -100px; /* Or a value that moves it completely off-screen */
    opacity: 0;
  }
}

@keyframes fly-in-bottom {
  100% {
    bottom: 0;
    opacity: 1;
  }
  0% {
    bottom: -100px; /* Or a value that moves it completely on-screen */
    opacity: 0;
  }
}

.btn {
    /* margin: 1rem; */
    outline: none;
    background-color: #000000;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 14px 40px;
    font-size: 16px;
}

.btn:active {
    background-color: #484848;
}

.controlGroup p {
    color: #ffffff;
    font-size: 2rem;
}

.controlgroup #analogSlider {
    margin: 1rem;
    appearance: none;
    width: 95%;
    height: 1.5rem;
    background-color: #d3d3d3;
    border-radius: 15px;
    outline: none;
}

#analogSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background: #0895e7;
    border-radius: 50%;
    cursor: pointer;
}

#analogSlider::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    background: #0895e7;
    border-radius: 50%;
    cursor: pointer;
}

.controlGroup #currentSerialValue {
    background-color: #d3d3d3;
    border: 3px solid #d3d3d3;
    padding: 0.1rem;
    border-radius: 15px;
    margin: 1rem;
    width: 95%;
    height: 3rem;
    line-height: 2.5rem;
    outline: none;
    font-size: 2rem;
}

@media (max-width: 1200px) {
    #controlGroupWrapper {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .controlGroup {
        width: 80%;
        height: 25%;
    }
}

@media (min-width: 1201px) {
    #controlGroupWrapper {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .controlGroup {
        width: 25%;
        height: 80%;
        margin: 1rem;
    }

    body {
        height: 800px;
    }
}